home/.DS_Store
home/.earthquake/history
home/.config/yarn
home/.config/configstore
home/.config/direnv
home/.config/gatsby/
home/.config/gh/
home/.config/htop/
home/.config/hub
home/.config/karabiner/
home/.config/nnn/
home/.config/nvim/
home/.config/jellyfin/
home/.config/bat/
home/.config/rome/
home/.config/fish/*
!home/.config/fish/config.fish
!home/.config/fish/fishfile
