home/.DS_Store
home/.earthquake/history
home/.config/yarn
home/.config/configstore
home/.config/direnv
home/.config/gatsby/
home/.config/gh/
home/.config/htop/
home/.config/hub
home/.config/karabiner/
home/.config/nnn/
home/.config/jellyfin/
home/.config/gh-dash/
home/.config/github-copilot/
home/.config/medusa/
home/.config/nixpkgs/
home/.config/stripe/
home/.config/bat/
home/.config/rome/
home/.config/vifm/
home/.config/raycast/
home/.config/planetscale/
home/.config/helix/
home/.config/containers/
home/.config/broot/
home/.config/fish/*
home/.config/kitty/*
home/.config/nvim/*
!home/.config/nvim/lua/
!home/.config/nvim/init.lua
!home/.config/kitty/kitty.conf
!home/.config/fish/config.fish
!home/.config/fish/fishfile
!home/.config/fish/themes/
