[color]
ui = true

[color "diff"]
whitespace = red reverse

[color "branch"]
current = yellow reverse
local = yellow
remote = green

[color "diff"]
meta = yellow bold
frag = magenta bold
old = red bold
new = green bold

[color "status"]
added = yellow
changed = green
untracked = cyan

[alias]
aa = add --all
ai = add --interactive
changes = diff --name-status -r
st = status -sb
ct = commit -v
ctm = commit -m
br = branch
co = checkout
cot = checkout -t
cob = checkout -b
mg = merge
df = diff
ds = diff --staged
wd = diff --color-words
irb = rebase --interactive
cp = cherry-pick -s
rh = reset --hard
lg = log -p
pl = pull
ph = push
phsu = push --set-upstream
lol = log --graph --decorate --pretty=oneline --abbrev-commit
lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
ls = ls-files
dt = difftool
glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
lgl = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
stash-all = stash save --include-untracked

[core]
excludesfile = /Users/braidn/.gitignore_global
whitespace=fix,tab-in-indent,trailing-space,cr-at-eol
editor = "nvim"
autocrlf = input
safecrlf = warn

[include]
  path = ~/.gitconfig.local

[hub]
protocol = https

[commit]
	gpgsign = true

[diff]
tool = vimdiff

[difftool]
prompt = false

[diff "gpg"]
  textconv = dotgpg unsafe_cat

[merge "gpg"]
  name = dotgpg merge driver
  driver = "dotgpg merge %O %A %B"

[push]
  default = simple
